<?xml version="1.0" encoding="UTF-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<sessionState timeout="30" />
		<httpRuntime maxRequestLength="4096" executionTimeout="65" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
    <customErrors mode="Off" />
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IsvcKioskoCli" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://volkhausen.net/wcfkc/svcKioskoCli.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IsvcKioskoCli" contract="wcfKioskoCli.IsvcKioskoCli" name="BasicHttpBinding_IsvcKioskoCli" />
		</client>

	<behaviors>
  		<serviceBehaviors>
 	 		<behavior name="SecurityTokenServiceBehavior">

			 <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />

		      </behavior>
		 </serviceBehaviors>
	</behaviors>
		
    	</system.serviceModel>
   <system.webServer>
        <caching maxResponseSize="30000262144" />
    </system.webServer>
</configuration>
